<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Iniciar Sesion</h1>
        <form action="{{ url_for('login') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn-primary") }}
            </div>
        </form>
        <div class="switch-form">
            <p>¿No tienes una cuenta?</p>
            <a href="{{ url_for('register') }}" class="btn-secondary">Registrarse</a>
        </div>
    </div>
</body>
</html>
